@inherits LayoutComponentBase

@using FileCloudClient.Abstractions

@inject NavigationManager _navigationManager
@inject ILoginService _loginService
@inject ITokenUpdateService _tokenUpdateService

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href="Main">FileCloud Client</NavLink>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <button class="btn btn-outline-success" @onclick="@LogOut">Выход</button>
    </div>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
    <NavMenu/>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        @Body
    </main>
  </div>
</div>


@code{

    public void LogOut()
    {
        _tokenUpdateService.Stop();
        _loginService.Logout();
    }
}