@inherits LayoutComponentBase

@using FileCloudClient.Abstractions

@inject NavigationManager _navigationManager
@inject ILoginService _loginService
@inject ITokenUpdateService _tokenUpdateService

<div class="d-flex flex-column min-vh-100">
    <header class="container-fluid p-0" style="background: gray; color: wheat;">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand">FileCloud</a>
              <form class="d-flex">
                <button class="btn btn-outline-success" type="button" @onclick="LogOut">Выход</button>
              </form>
            </div>
          </nav>
    </header>

    <main class="container-fluid flex-fill">
        <div class="row">
            <div class="col-md-12 col-lg-2 p-3">
                <!-- Sidebar -->
                <NavMenu/>
            </div>
            <div class="col-md-12 col-lg-10 p-3">
                <article>
                    @Body
                </article>
            </div>
        </div>
    </main>

    <footer class="container-fluid footer navbar-fixed-bottom p-2" style="background: cornflowerblue;">
        footer
    </footer>
</div>


@code{

    public void LogOut()
    {
        _tokenUpdateService.Stop();
        _loginService.Logout();
    }
}