@page "/Main"

<h1>Hello, world!</h1>

 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-12">
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-0 shadow-lg">
                                    <img class="card-img img-fluid" src="https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg" alt="Card image cap">
                                    <input class="form-check-input card-img-overlay m-2 p-0" type="checkbox"/>
                                </div>
                            </div>
                        </div>
                    </div>